<!-- <html>
    <head>
        <title>
            <%= title %>

        </title>
    </head>
    <body> -->
        <!-- <header>
            Header
        </header> -->
        <!-- <%- include('_header'); %> -->
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>User Codeial /Profile Page<%= title %> </h1>
        <p> <%= profile_user.name %></p>
        <p> <%= profile_user.email %></p>
        <!-- <footer>
        Footer
        </footer> -->
        <!-- <%- include('_footer'); %>
    </body>
</html> -->